


<div class="container mt-6">
    <p class="fonteSessao mt-5">Foram encontrados {{filmes.length}} resultado(s) na busca por : {{nmPesquisa}}</p>
  </div>
  <div class="container">
    <div class="g-2">
    </div>
  
    @if (filmes !=null) {
    <div class="row row-cols-1 row-cols-md-6 g-4">
      @for (item of filmes; track item.id) {
      <div class="col ">
        <div class="card h-100 shadow animate__animated animate__fadeIn">
          <a [routerLink]="'/detalhes/'+item.id">
            @if (item.poster_path != null) {
                <img [src]="'https://image.tmdb.org/t/p/w500/'+item.poster_path"
                class="card-img-top" alt="...">
            } @else {                
                <img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiUqGvs-Wgpbk4a8HcVMjOVeHJ7kiryV12xpX-WwjUty5NwqHlMTm4M1caosM6IYxkW9I&usqp=CAU'"
                class="card-img-top" alt="...">

            }
    
            <span class="badge badge-custom rounded-pill text-bg-warning">IMDB {{item.vote_average}}</span>
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text .fs-6 text-truncate">{{ item.overview }}</p>
          </div>
        </div>
      </div>
    } 
  
  </div>
  
    }
    @if(hasError){
      <app-alert-error  />
    }
    
    @if (isLoading) {
      <app-loading/>
    }
  
