<div class="container mt-5">
    <!-- Título da seção -->
    <p class="fonteSessao text-center font-weight-bold display-4">Detalhes da Serie</p>
  
    <div class="row">
      <!-- Coluna da imagem -->
      <div class="col-md-4">
        <img [src]="'https://image.tmdb.org/t/p/w500/'+detalheSerie?.poster_path" alt="Poster do filme"
          class="img-fluid rounded shadow" />
      </div>
  
      <!-- Coluna de informações do filme -->
      <div class="col-md-8">
        <!-- Título do filme -->
        <p class="fonteTitulo font-weight-bold text-uppercase display-5">{{ detalheSerie?.name }}</p>
  
        <!-- Descrição do filme  -->
        <p class="mt-3 sinopse">{{ detalheSerie?.overview || 'Descrição não disponível' }}</p>
  
        <p class="mt-3 sinopse"><strong>Lançamento:</strong> {{ detalheSerie?.first_air_date}}</p>
        <p class="mt-3 sinopse"><strong>Título original:</strong> {{ detalheSerie?.original_name}}</p>
        <p class="mt-3 sinopse"><strong>Idioma original:</strong> {{ detalheSerie?.original_language}}</p>
  
  
        <!-- Botão de voltar ou outras ações -->
        <div class="mt-4">
          <button class="btn btn-success" (click)="goBack()">Voltar</button>
        </div>
      </div>
    </div>
  
    <div>
  
      <app-lista-comentarios></app-lista-comentarios>
  
    </div>
  
    <div>
      <app-frm-comentarios></app-frm-comentarios>
    </div>
    <p-scrolltop  [threshold]="100" [buttonProps]="{ severity: 'contrast', raised: true, rounded: true }" />
  </div>
