<div class="mt-4 border border-dark-subtle">
    
    <div class="list-group py-2 mx-3">
        <h4 class="fonteSessao">Comentários</h4>
       @for (comentario of comentarios; track comentario.id) {
        <a class="list-group-item list-group-item-dark mt-1" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{comentario.nmPessoa}}</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">{{comentario.comentario}}</p>
            <small>And some small print.</small>
          </a>
       } @empty {
        <p>Nenhum comentário</p>
        }
        
      </div>
</div>

